# ----------------------------------
# Go build artifacts
# ----------------------------------
/bin/
/build/
/dist/
/*.exe
/*.out
/*.test

# Go module files (optional if generated)
/vendor/

# Dependency directories (if you use dep or other vendoring tools)
/Godeps/

# IDE/editor files
.idea/
.vscode/
*.swp

# Logs
*.log
*.log.*

# Docker
*.tar
docker-compose.override.yml

# OS / misc
.DS_Store
Thumbs.db

# Env files — локальные и секретные
.env
.env.local
.env.production
.env.*
.env.docker
.env.docker.example

# Git
*.orig

# Migration tools
migrations/

# Temporary
*.tmp
*.bak
*.swp